/*design for top navigation tab and logo banner */
.navbar .logo{
	font-size: x-large;
	font-weight: bold;
}
.navbar a{
	color: cornflowerblue;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.navbar ul li{
	margin-left: 20px;
}
.header{
	background-color: cornflowerblue;
	color: #fff;
	min-height: 400px;
}
.header img{
	max-width: 400px;
	padding: 50px 30px;
}
.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*begin table css here*/
